{% extends 'base.html.twig' %}
{% block title %}Bienevu sur la meilleur platte forme{% endblock %}
{% block body %}
    <div class="container">
        <div class="jumbotron mt-3">
            <h1 class="display-3">Bienvenu sur restau-travel</h1>
            <p class="lead">Cette plate forme pour objetcif d'aider tout touriste à trouver un restaurant ou le service peux se faire dans sa langue d'origine</p>
            <hr class="my-4">
            <p>Vous êtes touriste ? Et vous chercher un restaurant où pouver être servis dans votre langue ?.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
            </p>
        </div>
        <h2 class"h1 mt-3 mb-4"="class" h1="h1" mt-3="mt-3" mb-4""="mb-4" "">Nos tops restaurants</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambre,<strong>49&euro;/nuit</strong>
                        <small>Pas encore noté</small>
                    </div>
                    <img src="http://placehold.it/1000x400" alt="Image du restaurant" style="height:200px; width:100%; display:Block">
                    <div class="cord-body ml-3">
                        <h4 class="card-title">
                            restaurant de ouf !!!
                        </h4>
                        <p class="card-text">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam dicta porro rem, ducimus hic, blanditiis nemo, dolorem aliquid dolor aspernatur Rerum, assumenda ut?
                        </p>
                        <a href="#" class="btn btn-secondary mb-3">En savoir plus</a>
                    </div>
                </div>
            </div>
            {##}
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambre,<strong>49&euro;/nuit</strong>
                        <small>Pas encore noté</small>
                    </div>
                    <img src="http://placehold.it/1000x400" alt="Image du restaurant" style="height:200px; width:100%; display:Block">
                    <div class="cord-body ml-3">
                        <h4 class="card-title">
                            restaurant de ouf !!!
                        </h4>
                        <p class="card-text">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam dicta porro rem, ducimus hic, blanditiis nemo, dolorem aliquid dolor aspernatur Rerum, assumenda ut?
                        </p>
                        <a href="#" class="btn btn-secondary mb-3">En savoir plus</a>
                    </div>
                </div>
            </div>
            {##}
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambre,<strong>49&euro;/nuit</strong>
                        <small>Pas encore noté</small>
                    </div>
                    <img src="http://placehold.it/1000x400" alt="Image du restaurant" style="height:200px; width:100%; display:Block">
                    <div class="cord-body ml-3">
                        <h4 class="card-title">
                            restaurant de ouf !!!
                        </h4>
                        <p class="card-text">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam dicta porro rem, ducimus hic, blanditiis nemo, dolorem aliquid dolor aspernatur Rerum, assumenda ut?
                        </p>
                        <a href="#" class="btn btn-secondary mb-3">En savoir plus</a>
                    </div>
                </div>
            </div>
            {##}
        </div>
        <h2 class"h1 mt-3 mb-4"="class" h1="h1" mt-3="mt-3" mb-4""="mb-4""">Les restaurants les mieux notés</h2>
        <div class="row">
            <div class="col">
                <div class="card border-secondar mb-3">
                    <div class="card-body">
                        <h4 class="card-tilte"></h4>
                        <hr>
                        <div class="card-text">
                            <img src="http://placehold.it/64x64" alt="avatar resateau" srcset="">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos quisquam vero consequuntur iusto deserunt, illum consectetur itaque quos quas, inventore laborum cupiditate id numquam qui delectus nihil. Dignissimos, a velit.</p>
                            <a href="#" class="btn btn-success float-right">En savoir plus</a>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card border-secondar mb-3">
                    <div class="card-body">
                        <h4 class="card-tilte"></h4>
                        <hr>
                        <div class="card-text">
                            <img src="http://placehold.it/64x64" alt="avatar resateau" srcset="">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos quisquam vero consequuntur iusto deserunt, illum consectetur itaque quos quas, inventore laborum cupiditate id numquam qui delectus nihil. Dignissimos, a velit.</p>
                            <a href="#" class="btn btn-success float-right">En savoir plus</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}