<!--footer start-->

<div class="footer">
    <div class="container d-flex flex-column">
        <div class="d-flex flex-row flex-wrap">
            <div class="py-3 footerContent">
                <h1>Restau-Travel
                </h1>
                <p>6 avenue des martyrs</p>
                <p>de la résistance</p>
                <p>08150 Renwez</p>
            </div>
            <div class="py-3 px-3 footerContent">
                <div class="py-2">
                    <h4>Communauté & Outils</h4>
                    <p>loren lorem lorem</p>
                    <p>loren lorem lorem</p>
                    <p>loren lorem lorem</p>
                    <p>loren lorem lorem</p>
                    <p>loren lorem lorem</p>
                    <p>loren lorem lorem</p>
                </div>
            </div>


            <div class="py-3">
                <div class="py-2">
                    <a href="{{path('admin')}}">
                        <h4>Espace pro</h4>
                    </a>
                </div>
            </div>
        </div>
        <div class="text-center">
            © 2018 Restau-Travel, Inc. Terms Privacy Security Status Help Contact Restau Travel Pricing API Training Blog</div>

    </div>
    <!--footer end-->