<!--footer start-->
<footer class="footer">
    <div class="container">
        <div class="d-flex flex-row flex-wrap py-5 ">
            <div class="d-flex justify-content-center flex-1">
                <h1>Restau-Travel
                </h1>
            </div>
            <div class="d-flex justify-content-center flex-1">
                <a href="{{path('admin')}}">
                    <h4>Espace pro</h4>
                </a>
            </div>
        </div>
    </div>
</footer>
<!--footer end-->
