@import "homepage.css";
/* ================================nav bar */
.navbar-toggler {
}

.menu-berger {
  display: block;
  width: 35px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
}

/* ::::::::::::::::::::::::::::::::::::: */
.Detai-resto .photo,
.coordonnee {
  height: 350px;
  min-width: 360px;
  flex: 1;
}
.Detai-resto .photo {
  background-size: cover;
}

.Detai-resto .coordonnee {
  max-height: 250px;
}

.Detai-resto .coordonnee .adress,
.coordonnee .options {
  min-width: 250px;
}
.Detai-resto .coordonnee .adress {
  flex: 3;
}
.Detai-resto .coordonnee .options {
  flex: 1;
}

.options #btn-reservation,
#btn-avis {
  padding-left: 3px;
  padding-right: 3px;
}
.options a {
  background-color: #37adca;
  color: #ffffff;
}

.options > div {
  flex: 1;
}
.options .btn {
  width: 100%;
}

.Detai-resto-content .nav-tab {
  min-width: 360px;
  flex: 3;
}
.Detai-resto-pub {
  min-width: 360px;
  flex: 1;
}
.Detai-resto .sildebar-pub {
  height: 325px;
  margin-bottom: 15px;
}

#dr-headaer {
  min-height: 340px;
}

#dr-headaer,
#footer,
.tabcpntent-wrapper,
#navbar-wraper,
.register-form-wrapper,
.user-account-wrapper,
.actu-wrapper,
.wrapper-L-Rt,
.Wrapper {
  min-width: 320px;
  margin-right: 0;
  margin-left: 0;
}

#dr-headaer,
.tabcpntent-wrapper,
.register-form-wrapper,
.user-account-wrapper,
.Rt-content-center {
  margin-top: 30px;
}

/* Tabs*/

#tabs {
  width: 100%;
}

#tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: white;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 4px solid !important;
  font-size: 20px;
  font-weight: bold;
  color: #2c656f;
}
.is-active {
  display: block;
}
/* .nav-tabs */
#tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  font-size: 20px;
}
.nav-tabs a {
  color: #2c656f;
}
.tab-content div {
  flex: 1;
}
#nav-wrap {
  min-width: 360px;
  height: 300px;
  flex: 3;
}
#slide-bar-wrap {
  flex: 1;
}

/* ============================================================================== */

/* login */

.login-content .container {
  max-width: 100%;
}
.h400 {
  height: 340px;
}
.btn,
.header-form {
  background-color: #37adca;
  color: #ffffff;
}

.login-content .btn,
.header-form {
  height: 60px;
  color: #fff;
  text-align: center;
}
.header-form :first-child {
  flex: 1;
  align-self: center;
}

.login-content hr {
  height: 3px;
  color: #839d2d;
  width: 50%;
  border: 1px dashed #000;
}

.login-form {
  width: 70%;
  align-self: center;
}
.login-form .btn {
  margin-top: 14px;
  width: 100%;
}
.login-form form {
  margin-top: 14px;
  margin-bottom: 30px;
}
/* ============================================================================== */
/* registration */

.form-wapper,
.login-content {
  margin-top: 25px;
  width: 50%;
  min-width: 330px;
  align-self: center;
}
/*===================================================admin==============*/
th {
  text-align: center;
}

.delete_btn {
  background-color: red;
  color: #ffffff;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/* -----------------------------------------------user account------------------------------------ */
.flx1 {
  flex: 1;
}
.flx3 {
  flex: 3;
}
.card-header-top {
  background-color: #2c656f;
  height: 60px;
}
.top-rating {
  color: #fff !important;
}
#user-account-avatar {
  min-width: 240px;
}
#user-avatar {
  display: flex;
  justify-content: center;
  width: 100%;
}
.custom-file-label::after {
  content: "Selectionez votre fichier...";
}

.avatar-restau .custom-file-label::after {
  top: 50%;
}
.user-account-header #info-perso,
#options {
  flex: 1;
  min-width: 350px;
  margin-bottom: 20px;
}
.user-account-header .card {
  height: 100%;
}
.user-account-header .card a {
  align-self: center;
  width: 80%;
}

.user-account-header .btn {
  width: 100%;
  margin-bottom: 15px;
}
.user-account-header #options .card :first-child {
  margin-top: 13px;
}
.user-acc-avatar {
  max-width: 100%;
  max-height: 250px;
}
.user-acc-avatar img {
  max-width: 100%;
  max-height: 100%;
}

.actu-wrapper {
  margin-top: 15px;
}
/* .user-account-header {
  border-bottom: 2px solid #37adca;
} */
.actu-wrapper .card {
  height: auto;
}
.actu {
  flex: 1;
  min-width: 350px;
}
.user-account-menu {
  min-width: 240px;
}
.img-user-booking {
  width: 100%;
  height: 80%;
}
.user-account-header a {
  color: #37adca;
}
.user-account-header a:hover {
  color: #298eea;
}
.section-box a {
  color: #37adca;
}
a {
  color: #37adca;
}

/* ============================================================Admin */

.ad-rest-stat {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}
.ad-rest-stat .col-3 {
  flex: 1;
  flex-basis: 25%;
  min-width: 250px;
  height: 250px;
}
.ad-resto {
  background-color: green;
}
.table {
  max-width: 100%;
}
.Rt-nav {
  width: 100%;
}
.Rt-navigation {
  display: flex;
  justify-content: flex-end;
  flex: 3;
}
.Rt-navigation .navbar-nav {
  width: 100%;
  justify-content: flex-end;
}
.navbarColor01 {
  width: 100%;
}

.Rt-link h3 {
  font-weight: bold;
  padding-top: 10px;
  line-height: 1;
}
.Rt-link h3,
h5 {
  padding-top: 10px;
  line-height: 1;
}
.Rt-logo {
  font-size: 1.5rem;
  flex: 1;
}

#navbar-wraper {
  background-color: #2c656f;
  border-bottom: 5px solid #2f4148;
}
.navbar {
  padding: 0.5rem 0rem !important;
}

/*===================================================Rt link================================================*/
/* unvisited link */
.Rt-link:link {
  color: #fff;
}

/* visited link */
.Rt-link:visited {
  color: #fff;
}

/* mouse over link */
.Rt-link:hover {
  color: #37adca;
}

/* selected link */
.Rt-link:active {
  color: #fff;
}

/***
 body
*/
body {
  font-family: "Roboto", sans-serif;
  font: 15px;
}
.Rt-gb {
  background-color: #eceee3;
  border-bottom: 5px solid red;
  border-bottom-color: #252a2d;
}
.Rt-navbar {
  color: #f7f7f7;
}
a {
  color: #298eea;
}
.dv-content-center {
  margin: 0 auto;
}
.btn100 {
  width: 100%;
}
.w100 {
  width: 100%;
}
/* container */

.container {
  margin: 0 auto;
}

div.container-fluid {
  margin-top: 20px;
}

.Rt-container {
  max-width: 70%;
}
.dropdown-toggle::after {
  content: none;
}
/**
* css restaurant page
*/
.rt-star {
  font-size: 2em;
  padding-top: 3%;
  text-align: center;
  color: #dbc973;
}
table th,
td {
  margin-right: 3px;
}

.rt-restau-show-title {
  padding-top: 13%;
}
.rt-flag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 5;
  margin-bottom: 15px;
}
#img-profil-resatu {
  width: 34%;
  height: 40%;
  margin-top: 10%;

  border: 2px solid #fff;
  -moz-box-shadow: 0px 6px 5px #ccc;
  -webkit-box-shadow: 0px 6px 5px #ccc;
  box-shadow: 0px 6px 5px #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.rt-restau-show-social-icon {
  font-size: 2em;
  margin: 0 2% 0 2%;
}
.c-fb {
  color: #3b5998;
}
.c-tw {
  color: #1da1f2;
}
.c-sn {
  color: #ffcc00;
}
.c-ins {
  color: #8a3ab9;
}
.icon-localisation {
  margin-left: 1%;
  color: #deaa87;
}
.rt-btn-reservation-avis {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.rt-btn-reservation-avis a {
  padding: 1% 1% 1% 1%;
  width: 45%;
  line-height: 3;
  height: 40%;
  font: blod 15px;
}
.tab-contentn {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;

  padding: 10px;
}

.rt-nav-tabs {
  border-bottom: 1px solid #ddd;
}

.tab-pane {
  height: 100%;
}

.img-list-restau {
  height: 100%;
  width: 100%;
}
/***/

.tabs {
  margin-top: 0;
}
.rt-tab {
  width: 100%;
}
#tab-button {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
#tab-button li {
  display: table-cell;
  width: 20%;
}
#tab-button li a {
  display: block;
  padding: 0.5em;
  background: #eee;
  border: 1px solid #ddd;
  text-align: center;
  color: #000;
  text-decoration: none;
}
#tab-button li:not(:first-child) a {
  border-left: none;
}
#tab-button li a:hover,
#tab-button .is-active a {
  border-bottom-color: transparent;
  background: #fff;
}
.tab-contents {
  padding: 0.5em 2em 1em;
  border: 1px solid #ddd;
  max-width: 100%;
}

.w95 {
  max-width: 95%;
}
.tab-button-outer {
  display: none;
}
.tab-contents {
  margin-top: 20px;
}
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.show {
  display: block;
}
.avatar-medium {
  height: 200px;
}

.avatar-medium-no-radius {
  max-width: 128px;
  max-height: 128px;
}

.avatar-mini {
  max-width: 24px;
  max-height: 24px;
  border-radius: 50%;
}
.accountInfo {
  flex: 3;
}
.account-restau-info {
  flex: 3;
}
hr.style1 {
  border-top: 1px solid #8c8b8b !important;
}
.card-br {
  max-height: 203px;
}
.hourbox {
  width: 70px;
  height: 40px;
}
.btn:hover {
  background-color: #2c656f;
}
.dpn {
  display: none;
}

.dpb {
  display: block;
}
.activeP {
  background-color: darkcyan;
}
.activeH {
  background-color: darkcyan;
}
.btn-recapBooking {
  margin-left: 29%;
  width: 40%;
}
.d-center {
  margin: 0 auto;
}

/* Images */
.imgListeRst {
  width: 100%;
  height: 100%;
}
.imgBside {
  max-width: 100%;
  max-height: 300px;
}
.slidebar {
  padding-right: 0 !important;
}
.listbooking {
  max-width: 100%;
}
/* wrapper list restaurant */
.wrapperList {
  width: 100%;
  max-height: 205px;
}
.wrapper-L-Rt {
  max-height: 205px;
}
#L-Rt-img {
  max-width: 30%;
}
.L-Rt-detail {
  min-width: 270px;
  flex: 1;
}
/* acount temple */
.besideCard {
  flex: 1;
  max-width: 20%;
  margin-top: 0.6%;
}

.wrapper-L-Bkg {
  flex: 3;
}
.accontHeading {
  height: 300px;
  max-height: 540px;
}

.accontHeading img {
  width: 80%;
  max-width: 200px;
}

/* sur petit ecran
.accontHeading img{
  width: 80%;
  height: 30%;
  max-width: 200px;
}
 */

/*Register*/
.registerForm {
  width: 45%;
  margin: 0 auto;
}
.btnRegister {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*==============================================================ratting*/
.ratting {
  min-width: 250px;
  padding-right: 0;
  flex: 1;
}
.rt-star-sml {
  display: flex;
  flex-direction: row;
  font-size: 1em;
  color: #dbc973;
}
.siret input {
  min-width: 370px;
}

/* pagination */

.wrapper-pagination {
  z-index: 1;
  margin-top: 45px;
}
/* Start section Fotrer======================== */
.mb-foo {
  margin-bottom: 425px;
}
#footer {
  bottom: 0;
  color: #fff;
}
.mbfooter {
  margin-bottom: 100px;
}
.mbfooter-detail {
  margin-bottom: 400px;
}
.mbfootere204 {
  margin-bottom: 355px;
}
.mb-e404 {
  margin-bottom: 355px;
}
.footer-wrap {
  background: #0f141a;
  padding-top: 30px;
  background-size: cover;
  position: fixed;
  width: 100%;
  margin-top: 50px;
}
.footer {
  width: 100%;
  background: #0f141a;
  height: 350px;
  color: #ffffff;
}
.footerContent {
  width: 300px;
}

.footer-wrap h3 {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.footer-wrap p {
  font-size: 14px;
  line-height: 24px;
  color: #b3b3b3;
  margin-top: 15px;
}

.footer-wrap p a {
  color: #fff;
  text-decoration: underline;
  font-style: italic;
}

.footer-wrap p a:hover {
  text-decoration: none;
  color: #ff7800;
}

.footer-links li a {
  font-size: 14px;
  line-height: 26px;
  color: #b3b3b3;
  text-decoration: none;
}

.footer-links li:before {
  content: "\f105";
  font-family: "FontAwesome";
  padding-right: 10px;
  color: #b3b3b3;
}

.footer-category li a {
  font-size: 14px;
  line-height: 26px;
  color: #b3b3b3;
  text-decoration: none;
}

.footer-category li:before {
  content: "\f105";
  font-family: "FontAwesome";
  padding-right: 10px;
  color: #b3b3b3;
}

.address {
  color: #b3b3b3;
  font-size: 14px;
  position: relative;
  padding-left: 30px;
  line-height: 30px;
}

.address:before {
  content: "\f277";
  font-family: "FontAwesome";
  position: absolute;
  top: 0;
  left: 0;
}

.info a {
  color: #b3b3b3;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
}

.fa-phone:before {
  content: "\f095";
}

.info a {
  color: #b3b3b3;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
}

.fa-fax:before {
  content: "\f1ac";
}

.copyright {
  border-top: 1px solid #5f5f5f;
  font-size: 14px;
  color: #b3b3b3;
  margin-top: 25px;
  padding-top: 10px;
  text-align: center;
  padding-bottom: 10px;
}

/* End section Fotrer */

.gmd-1 {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.gmd-1:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* @media screen and (min-width: 768px) {
  .tab-button-outer {
    position: relative;
    z-index: 2;
    display: block;
  }
  .tab-select-outer {
    display: none;
  }
  .tab-contents {
    position: relative;
    top: -1px;
    margin-top: 0;
  }
} */
/* 
@media screen and (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 80%;
  }
}

@media screen and (min-width: 922px) {
  .container {
    max-width: 70%;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 70%;
  }
} */

/* =================================================================E2strapp===== =====================================*/

.Rtwrapper {
  max-width: 100%;
  min-width: 360px;
  margin-right: auto;
  margin-left: auto;
} /*
.Rtrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
}
.Rtcol {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
  max-width: 100%;
}
.f2 {
  flex: 2;
  background-color: #839d2d;
}
.f1 {
  background-color: #2c656f;
} */
