.wrapper-content {
  width: 100%;
  height: auto;
}
.box {
  /* background-color: #839d2d; */
  flex: 1;
  min-width: 300px;
  margin: 10px;
  width: auto;
  height: auto;
}
.section-home-2 .box {
  height: 350px;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
    flex: 1;
  }
.h100 {
  height: 100%;
}
.box .btn {
  width: 90%;
  height: 80px;
}

.slider-box {
    flex: 1;
    background-color: black;
    height: 200px;
    width: 250px;
}

.imgBside{
  min-width: 100px;
}
.search{
   height:100px;
}
.search input{
  min-width:100%;
 
}
.search .flex-1{
  margin: 5px;
  min-width:250px;
}
.search .btn{
  max-width:100%;
  height: 50px;
}
.card-other-resto{
 flex: 1;
 min-width: 40%;
 height: auto;

}
.card-other-resto .d-flex{
  flex: 1;
  flex-wrap: wrap;
  
}

 .card-other-resto .d-flex img{
  height: 150px;
  width: 100%;

} 
.card-other-resto .resto-info{
  flex: 1;
  min-width: 150px;
}

