{% extends 'base.html.twig' %}
{% block title %}
    {{restaurant.name}}
{% endblock %}
{% block body %}

    <div class="rt-title" style="background-image:url({{restaurant.coverimages}});background-position: center;background-size:cover;background-repeat:no-repeat;height:300px;">
        <div class="container">
            <img src="{{restaurant.coverimages}}" id="img-profil-resatu" alt="">
        </div>
    </div>

    <div class="container">
        <div class="row mt-3">
            <!-- ====================================================== -->
            <div class="col-md-8 mb-3">

                <div class="row mb-3">
                    <div class="col-md-6 rt-restau-show-title">
                        <h2>{{restaurant.name}}</h2>
                        <p>
                            <samp class="icon-localisation">
                                <i class="fas fa-map-marker-alt"></i>
                            </samp>
                            21 Cours Briand, 08000 Charleville-Mézières
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-12 rt-star" id="rt-star">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="col-md-12 text-center mb-3">
                            <span class="glyphicon glyphicon-comment"></span>(100 commentaires)
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <i class="fab fa-facebook-f rt-restau-show-social-icon c-fb"></i>
                                <i class="fab fa-twitter rt-restau-show-social-icon c-tw"></i>
                                <i class="fab fa-snapchat-square rt-restau-show-social-icon c-sn"></i>
                                <i class="fab fa-instagram rt-restau-show-social-icon c-ins"></i>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6 rt-flag">
                        <div class="famfamfam-flag-fr"></div>
                        <div class="famfamfam-flag-uk "></div>
                        <div class="famfamfam-flag-it"></div>
                        <div class="famfamfam-flag-po "></div>
                        <div class="famfamfam-flag-sp"></div>
                        <div class="famfamfam-flag-ge "></div>
                        <div class="famfamfam-flag-nl "></div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="rt-btn-reservation-avis">
                                    <a href="" class="btn btn-success list-group">
                                        <strong>Réservation</strong>
                                    </a>
                                    <a href="" class="btn btn-danger list-group">
                                        <strong>Je donne mon avis</strong>
                                    </a>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="row ml-0 rt-tab">
                    <!--Menu-->
                    <div class="tabs">
                        <div class="tab-button-outer">
                            <ul id="tab-button">
                                <li>
                                    <a href="#tab01">Menu</a>
                                </li>
                                <li>
                                    <a href="#tab02">Avis</a>
                                </li>
                                <li>
                                    <a href="#tab03">Info</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-select-outer">
                            <select id="tab-select">
                                <option value="#tab01">Tab 1</option>
                                <option value="#tab02">Tab 2</option>
                                <option value="#tab03">Tab 3</option>
                                <option value="#tab04">Tab 4</option>
                                <option value="#tab05">Tab 5</option>
                            </select>
                        </div>

                        <div id="tab01" class="tab-contents">

                            <div class="col">
                                <div class="row">Entrée</div><hr>
                                <div class="row">Plat</div><hr>
                                <div class="row">Désert</div>
                            </div>
                        </div>

                        <div id="tab02" class="tab-contents">
                            <h2>Tab 2</h2>
                            <div class="row">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="col-md-12">
                                            <div class="card bg-light mb-3">
                                                <div class="card-header text-center">
                                                    <h1>4/5</h1>
                                                </div>

                                                <div class="cord-body ml-3"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6">

                                        <div class="col-md-12">
                                            <div class="card bg-light mb-3">
                                                <div class="card-header text-center">
                                                    Ambiance Cuisine Déco Service Qualité/Prix</div>
                                                <div class="cord-body ml-3"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="row">
                                    <div class="col-6">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo suscipit quod itaque rem exercitationem, esse ut nam consectetur quisquam quis?
                                    </div>
                                    <div class="col-6">
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio aut sapiente eaque labore saepe ex architecto aspernatur tempora rem hic.
                                    </div>
                                </div>
                                <div class="row mb-8" id="comment">
<strong>Comment</strong><br><br><br><br><br><br>
<div class="mt-5">
    <i class="fas fa-comment-alt"></i>
</div>

Download SVGPerfect for when you want to use just one icon as a vector on the desktop or in your own icon workflow.
                                    <br>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, magni ratione iusto soluta esse perspiciatis quidem? Fugit facere eius modi.
                                    <br><br>
                                </div>
                                <div class="row">
                                    <strong>Date</strong><br><br>
                                    <div class="col-8"><br>Date</div>
                                    <div class="col-4">Signaler un abus</div>
                                </div>

                                <hr>
                            </div>
                        </div>
                        <div id="tab03" class="tab-contents">
                            <h2>Tab 3</h2>
                            <div class="row">
                                <div class="col-6">
                                    <div class="col-md-12">
                                        <div class="card bg-light mb-3">
                                            <div class="card-header text-center"></div>
                                            <img src="http://placehold.it/1000x400" alt="Image du restaurant" style="height:200px; width:100%; display:Block">
                                            <div class="cord-body ml-3">
                                                <h4 class="card-title">
                                                    restaurant de ouf !!!
                                                </h4>
                                                <p class="card-text">
                                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam dicta porro rem, ducimus hic, blanditiis nemo, dolorem aliquid dolor aspernatur Rerum, assumenda ut?
                                                </p>
                                                <a href="#" class="btn btn-secondary mb-3">En savoir plus</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="col-md-12">
                                        <div class="card bg-light mb-3">
                                            <div class="card-header text-center"></div>
                                            <img src="http://placehold.it/1000x400" alt="Image du restaurant" style="height:200px; width:100%; display:Block">
                                            <div class="cord-body ml-3">
                                                <h4 class="card-title">
                                                    restaurant de ouf !!!
                                                </h4>
                                                <p class="card-text">
                                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam dicta porro rem, ducimus hic, blanditiis nemo, dolorem aliquid dolor aspernatur Rerum, assumenda ut?
                                                </p>
                                                <a href="#" class="btn btn-secondary mb-3">En savoir plus</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="col-md-12">
                                        <div class="card bg-light mb-3">
                                            <div class="card-header text-center"></div>
                                            <img src="http://placehold.it/1000x400" alt="Image du restaurant" style="height:200px; width:100%; display:Block">
                                            <div class="cord-body ml-3">
                                                <h4 class="card-title">
                                                    restaurant de ouf !!!
                                                </h4>
                                                <p class="card-text">
                                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam dicta porro rem, ducimus hic, blanditiis nemo, dolorem aliquid dolor aspernatur Rerum, assumenda ut?
                                                </p>
                                                <a href="#" class="btn btn-secondary mb-3">En savoir plus</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="col-md-12">
                                        <div class="card bg-light mb-3">
                                            <div class="card-header text-center"></div>
                                            <img src="http://placehold.it/1000x400" alt="Image du restaurant" style="height:200px; width:100%; display:Block">
                                            <div class="cord-body ml-3">
                                                <h4 class="card-title">
                                                    restaurant de ouf !!!
                                                </h4>
                                                <p class="card-text">
                                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam dicta porro rem, ducimus hic, blanditiis nemo, dolorem aliquid dolor aspernatur Rerum, assumenda ut?
                                                </p>
                                                <a href="#" class="btn btn-secondary mb-3">En savoir plus</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- ====================================================== -->

            <div class="col">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card bg-light mb-3">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10307.411801656668!2d4.719744!3d49.770023!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x60388ea906ce8aee!2sSt+James+Pub!5e0!3m2!1sfr!2sfr!4v1539755826101" width="100%" height="255px;" frameborder="0" style="border:0" allowfullscreen="allowfullscreen"></iframe>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card bg-light mb-3">
                            <div class="card-header text-center"></div>
                            <img src="http://placehold.it/1000x400" alt="Image du restaurant" style="height:200px; width:100%; display:Block">
                            <div class="cord-body ml-3">
                                <h4 class="card-title">
                                    restaurant de ouf !!!
                                </h4>
                                <p class="card-text">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam dicta porro rem, ducimus hic, blanditiis nemo, dolorem aliquid dolor aspernatur Rerum, assumenda ut?
                                </p>
                                <a href="#" class="btn btn-secondary mb-3">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ====================================================== -->
        </div>

    {% endblock %}